dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

*.sw[op]

a.out
output.png
output.*.png
data/
output/
Cities
QuadTree
Main
Demo
